@model IEnumerable<NguyenQuocNhut_SachOnline.Models.GioHang>
    @{ 
        ViewBag.Title = "GioHangPartial";
    }
<li>
    <a href="@Url.Action("GioHang","GioHang")">
      <span class="glyphicon glyphicon-shopping-card"></span>
        Giỏ hàng(@ViewBag.TongSoLuong)
    </a>
</li>

